body{ margin:0; padding:0; font-size:87.50%; font-family:Verdana,Georgia,宋体; }

/* 选择框 */
.unchecked{ cursor:pointer; background-image:url(../images/checkbox/3.png); width:16px; height:16px; }
.disunchecked{ cursor:not-allowed; background-image:url(../images/checkbox/4.png); width:16px; height:16px; }
.checked{ cursor:pointer; background-image:url(../images/checkbox/1.png); width:16px; height:16px; }
.dischecked{ cursor:not-allowed; background-image:url(../images/checkbox/2.png); width:16px; height:16px; }

/* 置右 */
.pull-right{ float: right !important; }

/* 清除浮动 */
.clear-float{ clear:both; display:none; }

/* 标签列表 */
.tab-list{ border:1px solid #CCC;overflow-y:scroll; border-radius:5px; list-style-type:none; padding:0; margin:0; }
.tab-list > .plain{ background:#FFF; border-bottom:1px solid #CCC; border-right:1px solid #CCC; }
.tab-list > .plain > div{ margin:1px; padding:5px 10px 5px 10px; border: 2px solid #FFF; }
/* 激活 */
.tab-list .active > div{ border: 2px solid #80c0ff; }
/* 禁用 */
.tab-list .off > div{ background-color:#F3F3F3; color:#999; cursor:default; }

/* 进度条(可内置文字) */
.progress{ display:block; position:relative; text-align:center; overflow:hidden; margin:auto 0 auto 0; font-size:68.80%; line-height:11px; background-color:#C0C0C0 }
/* 文字 */
.progress > .reading{ display:block; position:relative; z-index:10; height:12px; border:1px solid transparent; text-align:center; font-weight:bold; color:#FFF; text-shadow:#222222 0 1px 2px; }
/* 进度条填充 */
.progress > .bar{ width:0%; position:absolute; bottom:0; left:0; height:100%; }
/* 填充颜色 */
.progress > .green{ background-color:#00CC66; }
.progress > .orange{ background-color:#FF9933; }
.progress > .red{ background-color:#D9534F; }
.progress > .blue{ background-color:#428bca; }

/* 进度条外框 */
.progress2 { height:30px; overflow:hidden; background-color:#f5f5f5; border-radius:4px;
-webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.3); box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.3); }
/* 进度条内框 */
.progress2 > .bar{ width:0%; height:100%; font-size:75%; line-height:20px; color:#ffffff; text-align:center; -webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-transition:width 0.6s ease; transition:width 0.6s ease; }
.progress2 > .green{ background-color:#00CC66; }
.progress2 > .orange{ background-color:#FF9933; }
.progress2 > .red{ background-color:#D9534F; }
.progress2 > .blue{ background-color:#428bca; }

/* 遮罩 弹窗背景 */
.mask-screen { position:absolute; top:0; left:0; z-index:1000; background-color:#000; height:100%; width:100%; display:none; }
.alpha { filter:alpha(Opacity=50); -moz-opacity:0.5; opacity:0.5; }
.unalpha { filter:alpha(Opacity=0); -moz-opacity:0; opacity:0; }

/* 弹窗框 */
.modal { position:absolute; z-index:1001; top:0; left:0; background:#FFF; width:760px; border-radius:10px; display:none; border:#AAA solid 1px; }
.modal > .header { padding:10px 15px 10px 15px; border-bottom:#E5E5E5 solid 1px; font-weight:bold; font-size:125%; word-wrap:break-word; }
.modal > .header > .close { float:right; cursor:pointer; font-size:131.30%; font-weight:bold; color:#000; opacity:.2; filter:alpha(opacity=20); line-height:0.7; border:0; padding:0; background-color:#FFF; }
.modal > .header > .close:hover{ opacity:.5; filter:alpha(opacity=50); }
.modal > .body { margin:10px 15px 10px 15px; word-wrap:break-word; height:auto; }
.modal > .foot { border-top:#E5E5E5 solid 1px; min-height: 40px; max-height: 75px; text-align:right; padding:10px 15px 10px 15px; }

/* 徽章 */
.badge{ display:inline-block; min-width:10px; padding:3px 7px; font-size:75%; font-weight:bold; line-height:1; color:#ffffff; text-align:center; white-space:nowrap; vertical-align:baseline; background-color:#999999; border-radius:10px; cursor:default; }
/* info */
.badge-info { background:#5bc0de; color: #FFF; }
/* warning */
.badge-warning { background:#F9A937; color: #FFF; }
/* danger  */
.badge-danger { background:#D9534F; color: #FFF; }

/* 按钮 */
.btn { cursor:pointer; border-radius:5px; height:35px; padding:0 10px 0 10px; *padding:0 5px 0 5px; margin:0px; }
.btn-lg{ height:28px; padding:0 5px 0 5px; *padding:0; *height:22px; }
.btn-mg{ height:30px; padding:0 5px 0 5px; *padding:0; *height:24px; }
.btn:active { -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125); background-image:none; outline:0; }
/* 默认 */ 
.btn-default { border:#99CEEB solid 1px; background:#FFF; color:#333; }
.btn-default:active { border:#99CEEB solid 1px; background:#EBEBEB; }
/* 普通 */
.btn-plain { border:#CCC solid 1px; background:#FFF; color:#333; }
.btn-plain:active { border:#ADADAD solid 1px; background:#EBEBEB; }
/* primary */
.btn-primary { border:#357EBD solid 1px; background:#428BCA; color:#FFF; }
.btn-primary:active { border:#285E8E solid 1px; background:#3276B1; }
/* success */
.btn-success { border:#4AB04A solid 1px; background:#5CB85C; color:#FFF; }
.btn-success:active { border:#398439 solid 1px; background:#47A447; }
/* warning */
.btn-warnings { border:#EEA236 solid 1px; background:#F0AD4E; color:#FFF; }
.btn-warnings:active { border:#D58512 solid 1px; background:#ED9C28; }
/* danger  */
.btn-danger { border:#D43F3A solid 1px; background:#D9534F; color:#FFF; }
.btn-danger:active { border:#AC2925 solid 1px; background:#D2322D; }
/* disabled */
.disabled { background:#EBEBEB; color:#AAA; border:#CCC solid 1px; }
.disabled:active { border:#ADADAD solid 1px; background:#EBEBEB; border:#CCC solid 1px;
-webkit-box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.125); box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.125); }

/* 下拉菜单 */
.dropdown { font-weight:normal; display:inline; }
.dropdown-menu { position:absolute; top:100%; left:0; z-index:9999; display:none; float:left; min-width:160px; padding:5px 0; margin:2px 0 0; font-size:87.50%; list-style:none; background-color:#ffffff; border:1px solid #cccccc; border:1px solid rgba(0, 0, 0, 0.15); border-radius:4px; -webkit-box-shadow:0 6px 12px rgba(0, 0, 0, 0.175); box-shadow:0 6px 12px rgba(0, 0, 0, 0.175); background-clip:padding-box; }
.dropdown-menu > li { color:#333; margin:0 0 0 0; padding:5px 10px 5px 10px; position:relative; }
.dropdown-menu > li:hover { color:#FFF; background:#0082C4; }
.dropdown-menu > .drop-disabled { color: #999999; }
.dropdown-menu > .drop-disabled:hover{ cursor:not-allowed; color: #999999; }
.dropdown-menu > .divider { height:1px; margin:9px 0; *+margin:0; overflow:hidden; background-color:#e5e5e5; padding:0; min-width:160px; }
.dropdown-menu > .divider:hover { color:#000; background-color:#e5e5e5; }
.dropdown-menu > .event { cursor:pointer; }

/* 网格 */
.grid{ color:#555; border-top:#99CEEB solid 1px; height:auto; }
.grid table{ width:100%; border-collapse:collapse; word-wrap:break-word; }
.grid td{ padding:5px; }
.grid > .header{ padding-right:17px; background-color:#d9edf7; border-left:#99CEEB solid 1px; border-right:#99CEEB solid 1px; border-bottom:#99CEEB solid 1px; }
.grid > .header > table{ border-right:#99CEEB solid 1px; }
.grid > .header > table td{ background-color:#d9edf7; font-weight:bold; border-bottom:#99CEEB solid 1px; }
.grid > .body{ overflow-x:hidden; overflow-y:scroll; border-right:#99CEEB solid 1px; border-left:#99CEEB solid 1px; border-bottom:#99CEEB solid 1px; position:relative; }
.grid > .body > div{ +zoom:1; }
.grid > .body > div > table{ border-right:#99CEEB solid 1px; width:100%; }
.grid > .body > div > table td{ border-bottom:#99CEEB solid 1px; }
.grid > .body > div > table .alt{ background-color:#F5F5F5; }
.grid tr:last-child > td{ border-bottom:0; }

/* 表格 */
.table{ width:100%; border-collapse:collapse; word-wrap:break-word; }
.table th {  }
.table td {  }
/* 紧凑表格 */
.compact th{ padding:1px; }
.compact td{ padding:1px; }
/* 宽松表格 */
.loosen th{ padding:5px; }
.loosen td{ padding:5px; }
/* 外边框表格 */
.simple{ border:#ddd solid 1px; border-bottom-width:0px; }
.simple th{ border-bottom:1px solid #ddd; }
.simple td{ border-bottom:1px solid #ddd; }
/* 内外边框表格 */
.border{ border:#ddd solid 1px; }
.border th{ border:1px solid #ddd; }
.border td{ border:1px solid #ddd; }

/* 折叠栏 */
.fold{ margin-bottom:15px; }
.fold > .header{ font-weight:bold; font-size:100%; word-wrap:break-word; }
.fold > .body{ display:none; padding:10px 0 0 10px; +zoom:1; }
.fold > .header > .point{ cursor:pointer; }

/* 面板 */
.panel { background:#FFFFFF; border:1px solid #DDD; border-radius:4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.panel > .title{ padding:10px; font-weight:bold; font-size:125%; }
.panel > .body{ padding:0 10px 10px 10px; }

/* 分页式标签页 */
.tab-page{ width:100%; list-style:none; padding:0; margin:0; border-bottom:#DDD solid 1px; background:#EEE; display:table; font-weight:bold; }
.tab-page > li:first-child{ margin-left:10px; }
.tab-page > li{ float:left; padding:5px 10px 5px 10px; border-bottom:#DDD solid 0px; cursor:pointer; border-radius:4px 4px 0 0; margin-bottom: -1px; color:#607890; }
.tab-page > li:hover{ color:#023365; }
.tab-page > .active{ border:#DDD solid 1px; border-bottom:#FFF solid 1px; cursor:default; background:#FFF; color:#555555; }
.tab-page > .active:hover{ color:#555555; }

/* 输入框 */
.form-control { width:100%; margin:0 0 0 0; font-size:100%; padding:4px 10px 4px 10px; *padding:4px 0 4px 0; *margin:0 -1px 0 -1px; border-radius:5px; border:1px solid #99CEEB; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; word-break:break-all; font-weight:100; font-family:sans-serif; resize:none; }

/* 面板 */
.well { border:#E3E3E3 solid 1px; background:#F5F5F5; width:auto; border-radius:5px; padding:10px; box-sizing:border-box;
-moz-box-sizing:border-box; -webkit-box-sizing: border-box; }

/* 警告框 */
.alert { border-radius:5px; min-height:20px; padding:15px; word-wrap:break-word; z-index:1; }
/* success */
.alert-success { border:#d6e9c6 solid 1px; background:#dff0d8; color: #3c763d; }
/* info */
.alert-info { border:#bce8f1 solid 1px; background:#d9edf7; color: #31708f; }
/* warning */
.alert-warning { border:#faebcc solid 1px; background:#fcf8e3; color: #8a6d3b; }
/* danger  */
.alert-danger { border:#ebccd1 solid 1px; background:#f2dede; color: #a94442; }

/* 导航 */
.nav > .colum { height:40px; width:100%; background-color:#2E76CA; }
.nav > .colum > ul { margin:0; padding:0; list-style:none; z-index:1; line-height:150%; }
.nav > .colum > ul > li { float:left; min-width:120px; position:relative; }
.nav > .colum > ul > li > a { background:#2E76CA; color:#fff; display:block; padding:8px 7px 8px 7px; text-decoration:none; text-align:center; z-index:1; height:24px; text-overflow:ellipsis; overflow:hidden; }
.nav > .colum > ul > li > a:hover { background:#005AA4; color:#FFF; }
.nav > .menu { position:relative; left:0px; top:1px; z-index:800; }
.nav > .menu > ul{ display:none; margin:0; padding:0; list-style:none; border:1px solid #ccc; width:148px; z-index:9999; padding:5px 0 5px 0; background-color:#FFF; *border-right-width:2px; *border-bottom-width:2px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box; }
.nav > .menu > ul > li { width:148px; position:relative; }
.nav > .menu > ul > li > a { color:#000; display:block; padding:5px 7px 5px 7px; text-decoration:none; text-align:center; height:30px; line-height:200%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.nav > .menu > ul > li > a:hover{ background:#0082C4; color:#FFF; }

/* 标签页 */
.nav-tabs{}
/* 标签页 标题 */
.nav-tabs > .title{ border-bottom:#DDD solid 0px; }
.nav-tabs > .title > ul { width:100%; list-style:none; padding:0; margin:0; display:table; }
.nav-tabs > .title > ul > li{ float:left; margin-left:5px; padding:10px 15px 10px 15px; border:1px #FFF solid; cursor:pointer; border-radius:4px; color:#4f9fcf; }
.nav-tabs > .title > ul > li:first-child{ margin-left:0; }
.nav-tabs > .title > ul > li:hover{ border:1px #DDD solid; }
.nav-tabs > .title > ul > .active{ border:1px #99CEEB solid; color:#333; cursor:default; }
.nav-tabs > .title > ul > .active:hover{ border:1px #99CEEB solid; }
.nav-tabs > .title > ul > li:hover{ border:1px #DDD solid; }
/* 标签页 内容 */
.nav-tabs > .body{ margin-top:5px; }
.nav-tabs > .body > div { display:none; }
.nav-tabs > .body > div:first-child{ display:block; }

/* 加载 */
.loading{ position:absolute; width:100px; height:100px; z-index:3000; top:50%; left:50%; margin:-100px 0 0 -100px; display:none; }
.loading > .pic{ }
.loading > .font{ color:#dedede; text-align:center; font-size:112.50%; margin:-65px 0 0 0; }

/* 下拉符号 */
.caret { display:inline-block; width:0px; height:0px; margin-left:2px; vertical-align:middle; }
.caret-top  { border-bottom:4px solid; border-left:4px solid transparent; border-right:4px solid transparent; }
.caret-bottom { border-top:4px solid; border-right:4px solid transparent; border-left:4px solid transparent; }
.caret-left { border-right:4px solid; border-top:4px solid transparent; border-bottom:4px solid transparent; }
.caret-right{ border-left:4px solid; border-top:4px solid transparent; border-bottom:4px solid transparent; }

/* 搜索框 */
.search > input { margin:0 0 0 0; font-size:100%; padding:4px 10px 4px 10px; *padding:4px 0 4px 0; *margin:0 -1px 0 -1px; border-radius:5px 0 0 5px; border:1px solid #ccc; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; word-wrap:break-word; font-weight:100; font-family:sans-serif; resize:none; border-right:0; float:left; }
.search > button { cursor:pointer; border-radius:0 5px 5px 0; height:28px; padding:0 5px 0 5px; border:#CCC solid 1px; background:#FFF; float:left; }

/* 弹出式小标签 */
.tooltip { position:absolute; z-index:9000; display:none; font-size:81.30%; line-height:1.4; visibility:visible; }
/* 箭头 */
.tooltip > .arrow { position:absolute; width:0; height:0; border-color:transparent; border-style:solid; }
/* 内容 */
.tooltip > .inner { max-width:300px; padding:3px 8px; color:#333; text-decoration:none; background-color:#F7F7F7; border-radius:4px; border:#AAA solid 1px; word-wrap:break-word; -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }
.tooltip > .inner p{ line-height:10px; margin:7px auto 7px auto; }
/* 方向 */
.tooltip.top { padding:5px 0; }
.tooltip.right { padding:0 5px; }
.tooltip.bottom { padding:5px 0; }
.tooltip.left { padding:0 5px; }
.tooltip.top				> .arrow { bottom:0; left:50%; margin-left:-5px; border-width:5px 5px 0; border-top-color:#666;}
.tooltip.top-left			> .arrow { left:14px; }
.tooltip.top-right		> .arrow { left:auto; right:10px; }
.tooltip.right				> .arrow { top:14px; left:0; margin-top:-5px; border-width:5px 5px 5px 0; border-right-color:#666;}
.tooltip.right-bottom	> .arrow { top:auto; bottom:14px; }
.tooltip.left				> .arrow { top:14px; right:0; margin-top:-5px; border-width:5px 0 5px 5px; border-left-color:#666; }
.tooltip.left-bottom		> .arrow { top:auto; bottom:14px; }
.tooltip.bottom			> .arrow { top:0; left:50%; margin-left:-5px; border-width:0 5px 5px; border-bottom-color:#666; }
.tooltip.bottom-left		> .arrow { left:14px; }
.tooltip.bottom-right	> .arrow { left:auto; right:10px; }

/* 通知框 */
.notice { position:absolute; z-index:900; bottom:0; right:0; background:#FFF; width:340px; border-radius:10px; border:#AAA solid 1px; display:none; }
.notice > .header { padding:5px 10px 5px 10px; border-bottom:#E5E5E5 solid 1px; font-size:118.80%; word-wrap:break-word; }
.notice > .header > .close { float:right; cursor:pointer; font-size:131.30%; font-weight:bold; color:#000; opacity:.2; filter:alpha(opacity=20); line-height:0.7; border:0; padding:0; background-color:#FFF; }
.notice > .header > .close:hover{ opacity:.5; filter:alpha(opacity=50); }
.notice > .body { margin:10px 15px 10px 15px; word-wrap:break-word; height:auto; }
